body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}