/* * {border: solid;} */

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header,
.introduction {
    background: #1f2937;
}

.header,
.introduction {
    color: #f9faf8;
}

button,
a {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 4px 28px;
    border: none;
    border-radius: 6px;
}

header {
    font-weight: 900;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;

}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 0 1 100%;
    padding: 14px 0 100px 0;
}

.introduction .part {
    display: flex;
    flex-direction: column;
    flex: 0 33%;
    align-items: flex-start;
    justify-content: center;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.info img {
    border: solid 3px #3882f6;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
}

h2 {
    font-size: 32px;
    font-size: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    max-width: 15%;
}

.quotation-container {
    display: flex;
    justify-self: center;
    align-self: center;
    background: #e5e7eb;
    padding: 32px 0;
}

.quotation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 17%;
}

.quote {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.attribution {
    align-self: flex-end;
    font-weight: 900;
}

.action-call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 69px 0;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 70%;
    background: #3882f6;
    border-radius: 6px;
    padding: 24px 48px;
    gap: 24px;
    color: #e5e7eb;
}

.card button {
    border: solid 2px #e5e7eb;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}