/* * {border: solid;} */

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------revisit-------- */
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 0 1 100%;
}

.introduction .part {
    display: flex;
    flex-direction: column;
    flex: 0 33%;
    align-items: flex-start;
    justify-content: center;
}

img {
    max-width: 100%;
    /* object-fit: contain; */
    /* max-width: 25px; */
}
/* ----------------------------- */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    max-width: 15%;
}

.quotation-container {
    display: flex;
    justify-self: center;
    align-self: center;
}

.quotation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 17%;
}

.quote {
    display: flex;
    flex-direction: column;
}

.attribution {
    align-self: flex-end;
}

.action-call {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}